#video {
  width: 998px;
  height: 560px;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #000;
  height: 100vh;
  overflow: auto;
}
section {
  display: flex;
  justify-content: center;
}
video {
  position: fixed;
  z-index: 0;
  max-width: 100%;
}
.scroll-dummy{
    height: 2000px;
    max-width: 998px;
    padding: 20px;
    z-index: 1;
    font-family: sans-serif;

}
.scroll-dummy h1{
    padding: 200px;
    font-size: 80px;
    font-weight: 800;
    color: #fff;
} 
.scroll-dummy{
    font-size: 20px;
    color: #fff;
    line-height: 1.4;
}
